body, h1, p, a {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #f9e2d2; /* Light peach background */
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
}

h1 {
    font-size: 24px;
}

nav a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
}

.flower-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.flower {
    text-align: center;
    margin: 15px;
    width: calc(33.333% - 30px);
}

.flower img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.flower h3, .flower p {
    margin-top: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.basket-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 20px auto;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f3f3f3;
}

.status-bar span {
    padding: 5px 10px;
    border-radius: 5px;
}

.status-bar .completed {
    background-color: #4CAF50; 
}

.status-bar .active {
    background-color: #FFD700; 
}

.recipient-info, .address-info {
    margin-bottom: 20px;
}

.account-options button {
    margin-right: 10px;
}

form {
    background: #f8f8f8;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
}

input[type="text"], select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"], button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover, button:hover {
    background-color: #45a049;
}

.account-options button {
    background-color: #ff9800;
    border-color: #ff9800;
}

.account-options button:hover {
    background-color: #e68900;
}

.alternate-action {
    text-align: center;
    margin-top: 20px;
}

.alternate-action button {
    background-color: #f9e2d2; 
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.alternate-action button:hover {
    background-color: #f3d1c1; 
}

.alternate-action p {
    margin-bottom: 10px;
}


